*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter';
}
.main-container{
    background-color: #121212;
    min-height: 100vh;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    top: 0;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 100;
    background: rgba(15, 15, 15, 0.8); /* almost black with a little transparency */
    backdrop-filter: blur(10px);
}

.brand-title {
    height: auto;
    font-size: 1.5rem;
    margin: 20px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #C9C9C9;
    padding: 1rem;
    display: block;
    font-size: 16px;
}

.navbar-links li:hover {
    background-color: #444;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* MediaQuery NavBar */
@media(max-width: 900px) {
    .toggle-button {
        display: flex;
        margin: 20px 5px;
    }

    .navbar-links {
        display: none;
        width: 100%;
        transition: all 0.3s ease-in-out;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .brand-title {
        margin-top: 25px;
    }
}


.first-part{
    position: relative;
    margin: 150px auto 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    line-height: 1.3;
    animation: slideUp 1s;
    flex-wrap: wrap;
    
}
.first-part h3{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 4.5em;
}
.first-part h2{
    color: #BB86FC;
    font-weight: bold;
    font-size: 6.3rem;
    text-align: center;
}
.first-part h4{
    color: #03DAC6;
    font-size: 3.2rem;
    font-weight: bolder;
    text-align: center;
}
.first-part p{
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 1.2rem;
    max-width: 400px;
    text-align: center;
}
.first-part a{
    text-decoration: none;
    color: white;
    border: 1px solid #2D2B3C;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 50px;
    background-color: #2D2B3C;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.first-part a:hover{
    background-color: #535066;
}
.social-icons{
    margin: auto;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;
    transition: 1s all ease-in-out;
    animation: slideUp 0.8s;
}
.social-icons img{
    height: 40px;
}
.grow { 
    transition: all .2s ease-in-out; 
  }
  
.grow:hover { 
    transform: scale(1.3); 
  }

.about{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 400px 200px 100px 200px;
    gap: 200px;
}
.about-me{
    width: 100%;
    max-width: 600px;
    line-height: 25px;
    font-size: 1.2rem;
}
.p2{
    margin-top: 20px;
}
.p3{
    margin-top: 20px;
}
.portfolio-photo2 img{
    height: 450px;
    border-radius: 10%;
    box-shadow: 0 0 30px #03DAC6;
}
.tech-stack {
    text-align: center;
    margin-top: 40px;
  }
  
  .tech-stack h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .tech-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .tech-icons img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
  }
  
  .tech-icons img:hover {
    transform: scale(1.2);
  }
.project-h2{
    color: white;
    text-align: center;
    margin-top: 400px;
    font-size: 2rem;
}
.projects{
    margin: 0px 50px 300px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    justify-content: center;
    grid-gap: 20px;
    padding: 20px;
}
.project-card{
    border-radius: 15px;
    height: 400px;
    width: 100%;
    background-color: #2a2a2a;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    color: #ffffff;
}
.project-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.project-card:hover {
    background-color: #2a2a2a; 
    box-shadow: 0 4px 20px #BB86FC;
    z-index: 10;
}
.project-card h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
  }
  
.project-card p {
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 2px;
    text-align: center;
  }
  
.btn {
    display: inline-block;
    margin: 5px 10px;
    padding: 10px 20px;
    background-color: #4f46e5; /* nice blue/violet button */
    color: #ffffff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s ease;
}
  
.btn:hover {
    background-color: #6366f1; /* lighter on hover */
}

.contact-me{
    margin-bottom: 50px;
    text-align: center;
    color: white;
    width: 100%;
}
.contact-me h3{
    margin-bottom: 30px;
}
.contact-me a{
    border: 1px solid #2D2B3C;
    text-decoration: none;
    color: white;
    background-color: #2D2B3C;
    padding: 15px 30px;
    border-radius: 40px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.contact-me a:hover {
    background-color: #535066; 
    transform: scale(1.1);
}
span{
    color: #BB86FC;
}
.footer{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.social-icons2{
    display: flex;
    gap: 20px;
}
.social-icons2 img{
    height: 50px;
}

@media screen and (max-width: 767px) {

.first-part h3{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2em;
}
.first-part h2{
    color: #BB86FC;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
}
.first-part h4{
    color: #03DAC6;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
}
.first-part p{
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 1rem;
    max-width: 400px;
    text-align: center;
}
.grow { 
    transition: all .2s ease-in-out; 
}
.about{
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
}
.about-me{
    width: 400px;
    line-height: 25px;
    font-size: 1rem;
    padding: 20px;
}
.p2{
    margin-top: 20px;
}
.p3{
    margin-top: 20px;
}
.portfolio-photo2 img{
    height: 300px;
}
.tech-stack {
    text-align: center;
    margin: 40px 30px 0px 30px;
    padding: 20px;
  }
  
  .tech-stack h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
.project-h2{
    color: white;
    text-align: center;
    margin-top: 400px;
    font-size: 1.2rem;
}
.projects{
    grid-template-columns: auto;
    height: 300vh;
    margin: 0;
    padding: 20px;
}
.project-card{
    height: 480px;
    width: 100%;
    max-width: 800px;
}
.project-card p {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.5;
  }
  
.btn {
    display: flex;
    justify-content: center;
}
.contact-me{
    color: white;
    width: 350px;
    font-size: 0.8rem;
    margin-bottom: 20px;
    margin-top: 380px;
}
.contact-me h3{
    margin-bottom: 30px;
}
.footer{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.social-icons2{
    display: flex;
    gap: 20px;
}
.social-icons2 img{
    height: 50px;
}
}


/* ANIMATIONS */
@keyframes slideRight{
    0% {opacity: 0;
        transform: translateX(-100px);}
    100% {opacity: 1;
    transform: translateX(0px);}
}
@keyframes slideLeft {
    0% {opacity: 0;
        transform: translateX(100px);}
    100% {opacity: 1;
    transform: translateX(0px);}
}

@keyframes slideUp {
    0% {opacity: 0;
        transform: translateY(100px);}
    100% {opacity: 1;
    transform: translateY(0px);}
}
@keyframes grow{
    0%{transform: scale(1.0);}
    100%{transform: scale(1.1);}
}
.slideLeft{
    animation: slideLeft 0.5s ease-in-out forwards;
}
.slideRight{
    animation: slideRight 0.5s ease-in-out forwards;
}
.slideUp{
    animation: slideUp 0.5s ease-in forwards;
}
